// Colors ($c-)
$c-primary: #eb2f64;
$c-primary-light: #FF3366;
$c-primary-dark: #BA265D;

$c-grey-light-1: #faf9f9;
$c-grey-light-2: #f4f2f2;
$c-grey-light-3: #f0eeee;
$c-grey-light-4: #ccc;

$c-grey-dark-1: #333;
$c-grey-dark-2: #777;
$c-grey-dark-3: #999;

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);


// FONT VARIABLES ($f-)
// $font-primary: 'Nunito', sans-serif;
// $font-display: 'Josefin Sans', sans-serif;
// $default-font-size: 1.6rem;