@use '../../sass/abstracts/members.scss' as *;

.postsPage {
  font-size: 1.4rem;
  
  h1,
  h2,
  h3 {
    margin: 0 2rem;
    text-align: center;
    color: $c-grey-d-4;
  }

  h1 {
    color: $c-grey-d-5;
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: .2rem;
    margin: 2rem 2rem 1rem;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 2rem;
  }

  h3 a {
    text-decoration: none;
    color: $c-primary;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $c-primary-l;
    }
  }
}

.loadingSpinner {
  display: flex;
  margin: 2rem auto;
  height: 5rem;
  width: 5rem;
}

.postsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.margin {
  margin: 2rem;
}