@use '../../sass/abstracts/members.scss' as *;

.welcome {
  display: flex;
  flex-direction: column;

  margin: 2rem;
  height: 100%;
}

.wrapper {
  display: flex;
  margin-bottom: auto;
}

.leftSide {
  flex: 0 0 50%;
  text-shadow: 0 .3rem .3rem rgba(0,0,0,.2);

  h1 {
    font-size: 5rem;
    font-weight: 400;

    span {
      color: $c-primary;
    }
  }

  h2 {
    font-size: 2rem;
  }
}

.rightSide {
  flex: 0 0 50%;
}

.featuredUser {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}