@use '../../sass/abstracts/members.scss' as *;

.cover {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 0;
  column-gap: 0;

  img {
    grid-row: 1 / 1;
    grid-column: 1 / 4;
    max-height: 40rem;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
  }
  
  .profileAvatar {
    border-radius: 100%;
    max-width: 22rem;
    max-height: 22rem;
    width: 100%;

    grid-row: 1 / 1;
    grid-column: 2 / 3;

    justify-self: center;
    align-self: end;
    margin-bottom: -3rem;

    img {
      display: block;
      border: 5px solid $c-white;
      border-radius: 100%;
    }
  }
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $c-white-3;

  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    // margin-right: 2rem;
  }

  h2 {
    color: $c-grey-d-1;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1px;
    margin-right: auto;
  }

  .locationIcon {
    width: 1.75rem;
    height: 1.75rem;
    fill: $c-primary;
  }

  .location {
    font-size: 1.4rem;
    display: flex;
    vertical-align: center;
  }

  .locationIcon {
    margin-right: .5rem;
  }

  .kindOfPlayer {
    background-color: $c-primary;
    color: #fff;
    margin-left: 3rem;
    padding: 0 2rem;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .playerType {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
    text-transform: uppercase;
  }

  .playerText {
    font-size: .9rem;
    text-transform: uppercase;
  }

  .locationName {
    color: $c-primary;
    display: flex;
    align-items: flex-end;
    cursor: default;
  }
}

.detail {
  display: flex;
  flex-direction: column;

  font-size: 1.4rem;
  padding: 2.0rem;
  background-color: $c-white-1;
  border-bottom: 1px solid $c-white-3;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 0;

  flex: 1 1;

  border-bottom: 4px solid $c-grey-l-1;
  
  .headerItem {
    display: inline-block;
    margin-bottom: -4px;
  }

  .headerItem::after {
    display:block;
    content: '';
    border-bottom: solid 4px $c-primary;  
    transform: scaleX(0);  
    transition: all .2s ease-in-out;
  }

  .headerItem:hover:after { 
    transform: scaleX(1);
  }

  .headerLink {
    padding: .8rem 2.4rem .8rem 2.4rem;
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .active {
    margin-bottom: -4px;
    border-bottom: solid 4px $c-primary;
  }
}

.socialLinks {
  align-self: flex-end;
  margin-left: 3rem;

  display: flex;
  list-style: none;

  li:not(:last-of-type) {
    margin-right: 1rem;
  }

  li a svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: $c-grey-d-3;
    transition: all 0.1s;
  }

  svg:hover {
    transform: scale(1.25);
  }

  .facebook:hover {
    fill: $c-facebook;
  }
  .twitter:hover {
    fill: $c-twitter;
  }
  .instagram:hover {
    fill: $c-instagram;
  }
  .youtube:hover {
    fill: $c-youtube;
  }
  .twitch:hover {
    fill: $c-twitch;
  }
  .patreon:hover {
    fill: $c-patreon;
  }

}