@use '../../sass/abstracts/members.scss' as *;

.profile {
  position: relative;
}

.cover {
  display: grid;
  grid-template-rows: 1fr;
  // grid-template-columns: minmax(min-content, max-content);
  row-gap: 0;
  column-gap: 0;
  position: relative;

  &:hover .coverButton,
  &:hover .avatarButton {
    visibility: visible;
    opacity: 1;
  }

  img {
    grid-row: 1 / 1;
    grid-column: 1 / 4;
    max-height: 40rem;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;

    object-fit: cover;
  }
  
  .profileAvatar {
    border-radius: 100%;
    // max-width: 22rem;
    // max-height: 22rem;
    width: 22rem;
    height: 22rem;
    
    @include respond(mw850) {
      width: 16rem;
      height: 16rem;
      margin-bottom: -1.5rem;
    }

    grid-row: 1 / 1;
    grid-column: 2 / 3;

    justify-self: center;
    align-self: end;
    margin-bottom: -3rem;
    position: relative;

    img,
    .loadingSpinner {
      background-color: $c-white;
      width: 100%;
      height: 100%;
      display: block;
      border: 5px solid $c-white;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $c-white-3;

  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    // margin-right: 2rem;

    @include respond(mw800) {
      padding: 0 0 2rem;
    }

    @include respond(mw450) {
      font-size: 2rem;
    }
  }

  h2 {
    color: $c-grey-d-1;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1px;
    margin-right: auto;

    @include respond(mw800) {
      padding: 0 0 2rem;
      margin: 0 0 0 1.5rem;
    }

    @include respond(mw450) {
      font-size: 1.5rem;
      margin: 0 0 0 1rem;
    }
  }

  .locationIcon {
    width: 1.75rem;
    height: 1.75rem;
    fill: $c-primary;

    @include respond(mw450) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .location {
    font-size: 1.4rem;
    display: flex;
    vertical-align: center;

    @include respond(mw800) {
      // align-self: flex-end;
      margin: -1rem 0 1.5rem 1.2rem;
    }

    @include respond(mw450) {
      margin: -1.5rem 0 1.5rem 1.2rem;
      font-size: 1.2rem;
    }
  }

  .locationIcon {
    margin-right: .5rem;

    @include respond(mw450) {
      margin-right: .25rem;
    }
  }

  .kindOfPlayer {
    background-color: $c-primary;
    color: #fff;
    margin-left: 3rem;
    padding: 0 2rem;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(mw800) {
      margin-left: 0;
    }
  }

  .playerType {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
    text-transform: uppercase;
  }

  .playerText {
    font-size: .9rem;
    text-transform: uppercase;
  }

  .locationName {
    color: $c-primary;
    display: flex;
    align-items: flex-end;
    cursor: default;
  }
}

.meta {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-between;
  align-items: center;

  @include respond(mw800) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.names {
  display: flex;
  align-items: center;

  @include respond(mw800) {
    margin: 1.5rem 1.5rem 0;
  }
}

.detail {
  display: flex;
  flex-direction: column;

  font-size: 1.4rem;
  padding: 2.0rem;
  background-color: $c-white-1;
  border-bottom: 1px solid $c-white-3;

  @include respond(mw450) {
    padding: 1.5rem;
  }
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;

  @include respond(mw600) {
    flex-direction: column;
  }
}

.headerMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 0;

  flex: 1 1;

  border-bottom: 4px solid $c-grey-l-1;
  
  .headerItem {
    display: inline-block;
    margin-bottom: -4px;
  }

  .headerItem::after {
    display:block;
    content: '';
    border-bottom: solid 4px $c-primary;  
    transform: scaleX(0);  
    transition: all .2s ease-in-out;
  }

  .headerItem:hover:after { 
    transform: scaleX(1);
  }

  .headerLink {
    padding: .8rem 2.4rem .8rem 2.4rem;
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .active {
    margin-bottom: -4px;
    border-bottom: solid 4px $c-primary;
  }
}

.socialLinks {
  align-self: flex-end;
  margin-left: 3rem;

  display: flex;
  list-style: none;

  @include respond(mw600) {
    margin: 1rem 0 0;
  }

  li:not(:last-of-type) {
    margin-right: 1rem;
  }

  li a svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: $c-grey-d-3;
    transition: all 0.1s;
  }

  svg:hover {
    transform: scale(1.25);
  }

  .facebook:hover {
    fill: $c-facebook;
  }
  .twitter:hover {
    fill: $c-twitter;
  }
  .instagram:hover {
    fill: $c-instagram;
  }
  .youtube:hover {
    fill: $c-youtube;
  }
  .twitch:hover {
    fill: $c-twitch;
  }
  .patreon:hover {
    fill: $c-patreon;
  }

}

.coverButton,
.avatarButton {
  outline: none;
  border: 1px solid transparent;
  background-color: rgba($c-primary,.7);
  color: $c-white;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-weight: 600;
  cursor: pointer;

  transition: all .2s;

  visibility: hidden;
  opacity: 0;

  @include respond(mw850) {
    visibility: visible;
    opacity: 1;

    span {
      display: none;
    }
  }

  &:hover {
    background-color: rgba($c-primary, 1);
  }

  &:active {
    background-color: rgba($c-primary-l, 1);
  }
}

.coverButton {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: flex;
  justify-content: center;
}

.avatarButton {
  position: absolute;
  bottom: 3rem;
  left: 4.2rem;
  display: flex;
  justify-content: center;

  @include respond(mw850) {
    bottom: 1.4rem;
    left: 6rem;
  }
}

.photoIcon {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
  margin-left: .5rem;
  fill: $c-white;

  @include respond(mw850) {
    margin-left: 0;
  }
  
}