@use '../../sass/abstracts/members.scss' as *;

.cover {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 0;
  column-gap: 0;

  img {
    grid-row: 1 / 1;
    grid-column: 1 / 4;
    max-height: 40rem;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
  }
  
  .profileAvatar {
    border-radius: 100%;
    max-width: 22rem;
    max-height: 22rem;
    width: 100%;

    grid-row: 1 / 1;
    grid-column: 2 / 3;

    justify-self: center;
    align-self: end;
    margin-bottom: -3rem;

    img {
      display: block;
      border: 5px solid $c-white;
      border-radius: 100%;
    }
  }
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $c-white-3;

  h1 {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    // margin-right: 2rem;
  }

  h2 {
    color: $c-grey-d-1;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1px;
    margin-right: auto;
  }

  .locationIcon {
    width: 1.75rem;
    height: 1.75rem;
    fill: $c-primary;
  }

  .location {
    font-size: 1.4rem;
    display: flex;
    vertical-align: center;
  }

  .locationIcon {
    margin-right: .5rem;
  }

  .rating {
    background-color: $c-primary;
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ratingAverage {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
  }

  .ratingCount {
    font-size: .9rem;
    text-transform: uppercase;
  }

  .btn {
    border: none;
    color: $c-primary;
    font-size: inherit;
    // border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        color: $c-black-1;

        span {
            margin-left: 8px;
        }
    }
  }
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: $c-white-1;
  border-bottom: 1px solid $c-white-3;

  ul {
    display: flex;
    list-style: none;

    li:not(:last-of-type) {
      margin-right: 1rem;
    }

    li a svg {
      height: 2.5rem;
      width: 2.5rem;
      fill: $c-grey-d-3;
      transition: all 0.1s;
    }

    .socialIconFacebook:hover {
      fill: $c-facebook;
    }
    .socialIconTwitter:hover {
      fill: $c-twitter;
    }
    .socialIconInstagram:hover {
      fill: $c-instagram;
    }
    .socialIconYoutube:hover {
      fill: $c-youtube;
    }
    .socialIconTwitch:hover {
      fill: $c-twitch;
    }
    .socialIconPatreon:hover {
      fill: $c-patreon;
    }

  }
}

.cta {
  padding: 3.5rem 0;
  text-align: center;

  iframe {
    border: 2px solid $c-grey-l-3;
  }
}