@use '../../sass/abstracts/members.scss' as *;

.container {
  max-width: 144rem;
  margin: 8rem auto;
  box-shadow: 0 2rem 6rem rgba(0,0,0,.3);

  min-height: 150rem;

  background-color: lightcoral; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: yellow; 
}

.content {
  display: flex;
  background-color: green; 
}

.sidebar {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: orange; 
}

.pages {
  flex: 1;
  background-color: brown; 
}