@use '../../sass/abstracts/members.scss' as *;

.container {
  max-width: 144rem;
  margin: 8rem auto;
  box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
}

.content {
  display: flex;
}

.pages {
  flex: 1;
  min-height: 70rem;
  background-color: $c-white; 
}