.moments {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  min-height: 28rem;
}

.noActivity {
  text-align: center;

  p {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.userMoments {
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}