.moments {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.userMoments {
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}