@use '../../sass/abstracts/members.scss' as *;

.localBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 11;
  border-radius: 20px;
}

.centeredBox {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.confirmationMessage {
  background-color: $c-white;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;

  font-weight: 500;
}

.buttons {
  display: flex;

  button {
    cursor: pointer;
    background-color: $c-white;
    padding: 1rem 0;
    width: 8rem;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: inherit;
    border-radius: 10px;
    text-transform: uppercase;

    transition: all .1s linear;

    &:hover {
      color: $c-white;
      background-color: $c-primary;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.yesButton {
  margin-right: 2rem;
}

.moment {
  display: flex;
  flex-direction: column;
  background-color: $c-white;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
  padding: 2rem;
  position: relative;
  width: 30rem;
  height: 24.8rem;
  border-radius: 20px;
  cursor: default;
  // overflow: hidden;

  // margin: 2rem;

  // &:hover .momentPhotoButton,
  // &:hover .momentDeleteButton {
  //   visibility: visible;
  //   opacity: 1;
  // }
}

.momentHeading {
  display: flex;
  align-items: center;
}

.momentPhotoButton,
.momentDeleteButton {
  // visibility: hidden;
  // opacity: 0;
  flex: 0 0 2rem;
  width: 2rem;
  height: 2rem;
  fill: $c-primary;
  cursor: pointer;
  transition: all 0.2s;
  margin-left: auto;

  &:hover {
    transform: scale(1.3);
  }

  &:active {
    fill: $c-primary-l;
  }
}

.momentDeleteButton {
  margin-right: .5rem;
}

.momentTitle {
  flex: 0 1 100%;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.momentText {
  position: relative;
  margin: 1rem 0;
  text-align: justify;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.reactToMoment {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 0.2rem;
  align-items: center;
  margin-top: auto;

  position: relative;

  font-size: 1.6rem;
  color: $c-grey-l-2;

  .playerReaction {
    display: block;
    height: 4rem;
    width: 4rem;
    margin: 0 0.8rem;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      transform: scale(1.3);
      // border: 2px solid $c-primary-l;
    }
  
    &:active {
      transform: scale(1.2);
    }

  }

  &::before,
  &::after {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor;
  }
}

.reactionOption {
  display: block;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: all .1s;

  &:not(:last-child) {
    margin: 0 0.5rem ;
  }

  &:hover {
    transform: scale(1.3);
  }

  &:active {
    transform: scale(1.2);
  }

}

.reactionsOptions {
  position: absolute;
  display: flex;

  background-color: $c-white;
  box-shadow: 0 0 .5rem .25rem rgba(0,0,0,.2);
  border-radius: 20px;
  padding: .35rem;
  bottom: 4.8rem;
  left: .75rem;
}

.momentData {
  display: flex;
  align-items: center;
}

.momentReactionsBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  .momentReactions {
    display: flex;

    .reactionImg,
    .reactionImg1,
    .reactionImg2,
    .reactionImg3 {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      transition: all 0.2s;
  
      &:hover {
        transform: scale(1.3);
        z-index: 10;
      }
  
      &:not(:last-child) {
        margin-right: -2rem;
      }
    }

    .reactionImg1 {
      z-index: 3;
    }

    .reactionImg2 {
      z-index: 2;
    }

    .reactionImg3 {
      z-index: 1;
    }
  }

  .reactionCount {
    color: $c-primary;
    font-size: 1.6rem;
    font-weight: 400;

    span {
      font-weight: 600;
    }
  }
}

.momentUserBox {
  margin-left: auto;
  text-align: right;

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
    transition: all .2s;
  }

  a:hover {
    color: $c-primary;
  }

  .momentUserName {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .momentUserDate {
    font-size: 1.1rem;
    color: $c-grey-d-1; 
  }
}

.momentUserPhoto {
  height: 5rem;
  width: 5rem;
  margin-left: 1rem;
}

.imageModal {
  @include absCenter;
  position: fixed;
  z-index: 11;

  .momentImage {
    max-height: 90vh;
    max-width: 90vw;
  }
}

.closeModal {
  position: absolute;
  fill: $c-primary;
  height: 5rem;
  width: 5rem;
  right: 0;

  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.3);
  }

  &:active {
    fill: $c-primary-l;
  }
}

.reacted {
  border: 2px solid $c-primary;
  border-radius: 50%;
}

.imageLoading {
  height: 5rem;
  width: 5rem;
}