@use '../../sass/abstracts/members.scss' as *;

.post {
  display: flex;
  flex-direction: row;
  background-color: $c-white;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
  padding: 2rem;
  cursor: default;

  position: relative;

  width: 80rem;
  // min-width: 55rem;

  margin: 2rem;

  // &:hover .postEditDelete {
  //   visibility: visible;
  //   opacity: 1;
  // }
}

.postUser {
  display: flex;
  flex-direction: column;
  align-items: center;

  img,
  .loadingSpinner {
    width: 12rem;
    height: 12rem;
    margin: 0 2rem 2rem 0;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  a {
    font-weight: 800;
    margin-right: 2rem;
    color: inherit;
    text-decoration: none;
    transition: .2s all;

    &:hover {
      color: $c-primary;
    }

    &:active {
      color: $c-primary-l;
    }
  }
}

.postContent {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  flex: 1;
}

.postData {
  display: flex;
  flex-direction: column;
}

.postText {
  max-width: 60rem;
  max-height: 10rem;
  word-wrap: break-word;
  line-height: 1.4;
}

.postDate {
  display: flex;
  justify-content: space-between;
}

.postCreated,
.postEdited {
  font-size: 1.4rem;
  color: $c-grey-d-1;
  align-self: center;
}

.postEditDelete {
  display: flex;
  // visibility: hidden;
  // opacity: 0;
  transition: all .2s ease-in-out;

  svg {
    fill: $c-grey-d-3;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      fill: $c-primary;
      transform: scale(1.2);
    }

    &:active {
      fill: $c-primary-l;
      transform: scale(1.4);
    }

    &:focus {
      outline: none;
    }
  }

}

.editForm {
  display: flex;
  flex-direction: column;

  .buttons {
    margin-top: 1rem;
    margin-left: auto;
  }

  input {
    cursor: pointer;
    padding: .5rem;
    width: 8rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: 1px solid $c-grey-d-1;
    transition: all .1s ease-in-out;
  }
}

.postEditText {
  flex-grow: 1;
  height: auto;
  resize: none;
  border: 1px solid $c-grey-d-1;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: .8rem;

  &:focus {
    outline: none;
  }
}

.cancelButton,
.confirmButton {
  &:hover {
    border: 1px solid $c-primary;
    background-color: $c-primary;
    color: $c-white;
  }

  &:active {
    border: 1px solid $c-primary-l;
    background-color: $c-primary-l;
    color: $c-white;
    outline: none;
  }
}

.confirmButton {
  margin-left: 1rem;
}

.editButtonHidden {
  svg {
    visibility: hidden;
  }
}