@use '../../../sass/abstracts/members.scss' as *;

.editProfile {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 80rem;
  width: 100%;

  h1 {
    letter-spacing: .15rem;
    margin-bottom: .5rem;
  }

  h2 {
    font-weight: 500;
  }
}

.formGroup {
  .description,
  .descriptionNoMargin {
    font-weight: bold;
    display: block;
    margin-bottom: .8rem;
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  
  input {
    &[type="text"] {
      
      padding: .8rem;
      color: $c-grey-d-3;
      font-family: inherit;
      font-size: inherit;
      width: 100%;
      
      background-color: $c-white;
      border: 1px solid transparent;
      border-radius: .5rem;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);

      &:focus {
        border: 1px solid $c-grey-d-3;
        outline: none;
      }

      &::-webkit-input-placeholder {
        font-weight: 300;
        color: $c-grey-m-1;
        text-transform: capitalize;
      }
    }

    &[type="radio"] {
      display: none;
    }
  }

  .twitchPlaceholder {
    &::-webkit-input-placeholder {
      text-transform: lowercase !important;
    }
  }

  textarea {
    padding: .8rem;
    font-family: inherit;
    font-size: inherit;
    color: $c-grey-d-3;
    resize: none;
    height: 13rem;
    width: 100%;

    background-color: $c-white;
    border: 1px solid transparent;
    border-radius: .5rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);

    &::-webkit-input-placeholder {
      font-weight: 300;
      color: $c-grey-m-1;
    }

    &:focus {
      border: 1px solid $c-grey-d-3;
      outline: none;
    }
  }

  small {
    display: block;

    &:first-of-type {
      margin-top: 1rem;
    }

    // &:last-of-type {
    //   margin-bottom: 1rem;
    // }
  }
}

.radioLabel {
  cursor: pointer;
  position: relative;
  // padding-left: 1.8rem;
  // padding-top: .8rem;
  padding: 0 .8rem .8rem 2rem;
  margin-right: .5rem;
}

.radioButton {
  height: 1.6rem;
  width: 1.6rem;
  border: 2px solid $c-primary;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.05rem;

  &::after {
    content: "";
    display: block;
    height: .6rem;
    width: .6rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $c-primary;
    opacity: 0;
    transition: opacity .2s;
  }
}

.radioButtonChecked {
  .radioButton::after {
    opacity: 1 !important;
  }
}

.textArea {
  position: relative;

  .characterCount {
    position: absolute;
    color: $c-grey-m-2;
    bottom: 1rem;
    right: 1rem;
    cursor: default;

    &Exceed {
      color: $c-primary;
    }
  }
}

.genres {
  display: flex;
  flex-wrap: wrap;
}

.genre {
  display: inline-block;
  border-radius: 1rem;
  cursor: pointer;
  padding: .4rem .8rem;
  margin: 1rem 0.4rem 0 0;
  // box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);

  transition: all .2s;
}

.selected {
  border: 1px solid $c-primary;
  color: $c-primary;
}

.notSelected {
  border: 1px solid $c-grey-d-3;
  color: inherit;
}

.showIcon {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  fill: $c-primary;
  transition: .2s all;
  cursor: pointer;
  padding-top: -.5rem;
  margin-left: 1rem;
  vertical-align: bottom;
}

.invertShowIcon {
  transform: rotate(180deg);
}

.social,
.platform {
  display: flex;
  align-items: center;

  margin-bottom: 1.5rem;

  svg {
    height: 3.2rem;
    width: 3.2rem;
  }

  .platformIcon {
    fill: $c-grey-d-2;
  }

  label {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }

  .facebook {
    fill: $c-facebook;
  }
  .twitter {
    fill: $c-twitter;
  }
  .instagram {
    fill: $c-instagram;
  }
  .youtube {
    fill: $c-youtube;
  }
  .twitch {
    fill: $c-twitch;
  }
  .patreon {
    fill: $c-patreon;
  }
}

.buttons {
  display: flex;
  margin-top: 2.0rem;
  margin-left: auto;

  button,
  input {
    padding: .6rem 1.2rem;
    outline: none;
    border: 1px solid transparent;
    font-family: inherit;
    font-size: inherit;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s;
    font-weight: 500;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    max-height: 3.1rem;
  }
  
  .cancel {
    margin-left: auto;
    color: $c-primary;
    background-color: $c-white;
    margin-right: 1rem;

    &:hover {
      background-color: $c-white-3;
    }
  }

  .submit {
    color: $c-white;
    background-color: $c-primary;

    &:disabled {
      cursor: not-allowed;
      background-color: rgba($c-primary, .8);
    }

    &:active:hover {
      background-color: #e2164f;
    }
  }

  .delete {
    color: $c-white;
    background-color: #f00;

    &:hover {
      background-color: rgb(223, 4, 4);
    }
  }
}

.smallDescription {
  margin-top: -.5rem;
  margin-bottom: 1.5rem;
}

.descriptionNoMargin {
  margin-bottom: 0 !important;
}

// Delete Confirmation

.deleteConfirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $c-white;
  border-radius: .5rem;
  padding: 5rem 2rem 2rem;

  z-index: 20;

  max-width: 60rem;

  @include respond(mw450) {
    width: 70%;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .closeButton {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all .1s;
  
    &:focus {
      outline: none;
      transform: scale(1.2);
      
      .closeButtonIcon {
        fill: $c-primary;
      }
    }

    &:disabled {
      cursor: default;
      .closeButtonIcon {
        fill: rgba($c-grey-d-3, 0.5);
      }
    }
  
    &Icon {
      display: inline-block;
      vertical-align: middle;
      width: 2rem;
      height: 2rem;
      fill: $c-grey-d-3;
      transition: all .1s;
      
      &:hover {
        fill: $c-primary;
      }
    }
  }

  .message {
    color: $c-grey-d-6;
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 3rem;
    }
  }

  .choiceButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 3.4rem;

    button {
      cursor: pointer;
      color: $c-white;
      background-color: $c-primary;
      padding: 1rem 0;
      width: 8rem;
      border: none;
      font-family: inherit;
      font-weight: 600;
      font-size: 1.2rem;
      letter-spacing: .1rem;
      border-radius: 10px;
      text-transform: uppercase;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);

      transition: all .1s linear;

      &:hover {
        background-color: $c-primary-d;
      }
    }
  }

  .spinnerSize {
    width: 3rem;
    height: 3rem;
  }
}