@use '../../sass/abstracts/members.scss' as *;

.localBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 10;
  border-radius: 20px;
}

.centeredBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.confirmationMessage {
  background-color: $c-white;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;

  font-weight: 500;
}

.buttons {
  display: flex;

  button {
    cursor: pointer;
    background-color: $c-white;
    padding: 1rem 0;
    width: 8rem;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: inherit;
    border-radius: 10px;
    text-transform: uppercase;

    transition: all .1s linear;

    &:hover {
      color: $c-white;
      background-color: $c-primary;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.yesButton {
  margin-right: 2rem;
}

.post {
  display: flex;
  flex-direction: row;
  background-color: $c-white;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
  padding: 2rem;
  border-radius: 20px;
  cursor: default;

  position: relative;

  width: 75rem;
  // min-width: 55rem;

  margin: 2rem;

  // &:hover .postEditDelete {
  //   visibility: visible;
  //   opacity: 1;
  // }
}

.postUser {
  display: flex;
  flex-direction: column;
  align-items: center;

  img,
  .loadingSpinner {
    width: 12rem;
    height: 12rem;
    margin: 0 2rem 2rem 0;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  a {
    font-weight: 800;
    margin-right: 2rem;
    color: inherit;
    text-decoration: none;
    transition: .2s all;

    &:hover {
      color: $c-primary;
    }

    &:active {
      color: $c-primary-l;
    }
  }
}

.postContent {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  flex: 1;
}

.postData {
  display: flex;
  flex-direction: column;
}

.postText {
  max-width: 57rem;
  max-height: 15rem;
  word-wrap: break-word;
  // text-overflow: ellipsis;
  // white-space: pre-line;
  // overflow-y: scroll;
  line-height: 1.4;
}

.postDate {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.postCreated,
.postEdited {
  font-size: 1.4rem;
  color: $c-grey-d-1;
}

.postInteractions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    fill: $c-grey-d-3;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    transition: all 0.1s;
  }
}

.postLikeComment {
  display: flex;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.postLikeBox {
  display: flex;
  padding: 0.7rem;
  border: 2px solid $c-grey-l-1;
  border-radius: 0.5rem;

  background-image: linear-gradient(105deg, 
    transparent 0%,
    transparent 49%,
    $c-grey-l-1 50%,
    $c-grey-l-1 51%,
    transparent 52%,
  );
}

.postLike,
.postDislike {
  display: flex;

  &Active svg {
    fill: $c-primary;
  }

  svg {
    height: 2rem;
    width: 2rem;

    &:focus {
      outline: none;
    }

    &:hover {
      fill: $c-primary;
      transform: scale(1.2);
    }

    &:active {
      fill: $c-primary-l;
      transform: scale(1.4);
    }
  }

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-left: 0.4rem;

    height: 2rem;
    width: 2rem;
  }
}

.postDislike {
  margin-left: 3rem;
}

.postDiscussion {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 0.3rem;
  padding: 0.7rem;
  border: 2px solid $c-grey-l-1;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;

  .postDiscussionText {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .discussionCount {
    height: 2rem;
    padding-right: 0.25em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .discussionComment {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    border: 2px solid $c-grey-l-2;
    color: $c-primary;
  }

  &:active {
    border: 2px solid $c-grey-l-3;
    color: $c-primary-l;
  }
}

.postEditDelete {
  display: flex;
  // visibility: hidden;
  // opacity: 0;
  transition: all .2s ease-in-out;

  svg {
    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      fill: $c-primary;
      transform: scale(1.2);
    }

    &:active {
      fill: $c-primary-l;
      transform: scale(1.4);
    }

    &:focus {
      outline: none;
    }
  }

}