@use '../../sass/abstracts/members.scss' as *;

.post {
  display: flex;
  flex-direction: row;
  background-color: $c-white;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
  padding: 2rem;
  border-radius: 20px;
  cursor: default;

  max-width: 80rem;
  min-width: 55rem;

  margin: 2rem;

  &:hover .postEditDelete {
    visibility: visible;
    opacity: 1;
  }
}

.postUser {
  display: flex;
  flex-direction: column;
  align-items: center;

  img,
  .loadingSpinner {
    width: 12rem;
    height: 12rem;
    margin: 0 2rem 2rem 0;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  h4 {
    font-weight: 800;
    margin-right: 2rem;
  }
}

.postContent {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  flex: 1;
}

.postData {
  display: flex;
  flex-direction: column;
}

.postText {
  text-align: justify;
  line-height: 1.4;
}

.postDate {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.postCreated,
.postEdited {
  font-size: 1.4rem;
  color: $c-grey-d-1;
}

.postInteractions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    fill: $c-grey-d-3;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    transition: all 0.1s;
  }
}

.postLikeComment {
  display: flex;
  align-items: center;
}

.postLikeBox {
  display: flex;
  padding: 0.7rem;
  border: 2px solid $c-grey-l-1;
  border-radius: 0.5rem;

  background-image: linear-gradient(105deg, 
    transparent 0%,
    transparent 49%,
    $c-grey-l-1 50%,
    $c-grey-l-1 51%,
    transparent 52%,
  );
}

.postLike,
.postDislike {
  display: flex;

  &Active svg {
    fill: $c-primary;
  }

  &:focus {
    outline: none;
  }
  
  &:focus svg {
    fill: $c-primary;
    transform: scale(1.2);
  }

  svg {
    height: 2rem;
    width: 2rem;

    &:hover {
      fill: $c-primary;
      transform: scale(1.2);
    }

    &:active {
      fill: $c-primary-l;
      transform: scale(1.4);
    }
  }

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-left: 0.4rem;

    height: 2rem;
    width: 2rem;
  }
}

.postDislike {
  margin-left: 3rem;
}

.postDiscussion {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 0.3rem;
  padding: 0.7rem;
  border: 2px solid $c-grey-l-1;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;

  .postDiscussionText {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .discussionCount {
    height: 2rem;
    padding-right: 0.25em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .discussionComment {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    border: 2px solid $c-grey-l-2;
    color: $c-primary;
  }

  &:active {
    border: 2px solid $c-grey-l-3;
    color: $c-primary-l;
  }
}

.postEditDelete {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-in-out;

  svg {
    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      fill: $c-primary;
      transform: scale(1.2);
    }

    &:active {
      fill: $c-primary-l;
      transform: scale(1.4);
    }
  }

}