@use '../../sass/abstracts/members.scss' as *;

.compose {
  display: flex;
  flex-direction: column;
  width: 80rem;
}

.saySomething {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: $c-primary;
  color: $c-white;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  textarea {
    padding: .8rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;
    height: 13rem;
    border: none;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.2);

    &:focus {
      outline: none;
    }
  }
}

.submitButton {
  margin-left: auto;
  margin-top: 1.5rem;
  width: 8rem;
  padding: .5rem;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.4rem;
  // text-transform: uppercase;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  transition: all .1s linear;

  &:focus {
    outline: none;
  }

  &:hover {
    color: $c-white;
    background-color: $c-primary;
  }

  &:active {
    outline: none;
    color: $c-white;
    background-color: $c-primary-l;
  }
}

.imageUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageUploadPreview {
  width: 13rem;
  height: 13rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}