.posts {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  min-height: 28rem;
}

.noActivity {
  text-align: center;

  p {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.margin {
  margin: 0 0 2rem 0;
}