@use '../../../sass/abstracts/members.scss' as *;

.overview {
  display: flex;
  flex-direction: column;
  
  h3 {
    font-size: 1.6rem;
    font-weight: 800;
  
    text-transform: uppercase;
  }
}


.heading {
  display: flex;
  flex-direction: column;
  
  margin-bottom: 2rem;

  &::after {
    content: "";
    height: .2rem;
    display: block;
    background-color: $c-grey-l-1;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;

    width: 40%;
  }
}

.endHeading {

  &::after {
    width: 100%;
  }
}

.recentActivity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &Post {
    margin-right: 2rem;
  }
}

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  justify-content: space-between;
  align-content: stretch;
}

.gaming,
.gamerInfo,
.twitch {

  flex: 1;

  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.gamingData {
  background-color: $c-white;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
  border-radius: 1rem;
  padding: 2rem;

  .icon {
    height: 3rem;
    width: 3rem;
    fill: $c-grey-l-3;
    margin-right: 2rem;
  }

  &Title {
    font-weight: 500;
    margin-bottom: 2rem;
  }

  &Info {
    display: inline-block;
  }

  .platform {
    display: flex;
    align-items: center;
    
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  span {
    display: inline-block;
    color: $c-primary;
    letter-spacing: 0.05rem;

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid $c-primary;
    }

  }

}

.gamerData {
  background-color: $c-white;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
  border-radius: 1rem;
  padding: 2rem;

  line-height: 1.4;
  text-align: justify;

  &Heading {
    margin-bottom: 1rem;
  }

  span {
    display: inline-block;
    color: $c-primary;
    letter-spacing: 0.05rem;
  }
}

.twitch {

  iframe {
  border: 3px solid $c-grey-l-1;
  border-radius: 1rem;
  }
}

// .endHeading {
//   display: grid;
//   grid-template-columns: max-content 1fr;
//   grid-column-gap: 2rem;
//   align-items: center;

//   margin-bottom: 2rem;

//   &::after {
//     content: "";
//     height: .2rem;
//     display: block;
//     background-color: $c-grey-l-1;
//     border-bottom-right-radius: 50%;
//     border-top-right-radius: 50%;
//   }
// }