@use '../../../sass/abstracts/members.scss' as *;

.overview {
  display: flex;
  flex-direction: column;
  min-height: 30rem;
  position: relative;
  
  h3 {
    font-size: 1.6rem;
    font-weight: 800;
  
    text-transform: uppercase;
  }
}


.heading {
  display: flex;
  flex-direction: column;
  
  margin-bottom: 2rem;

  &::after {
    content: "";
    height: .2rem;
    display: block;
    background-color: $c-grey-l-1;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;

    width: 40%;
  }
}

.endHeading {
  margin-top: 2rem;

  &::after {
    width: 100%;
  }
}

.recentActivity {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  justify-content: space-between;
  // align-content: stretch;
  background-color: $c-white;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
  border-radius: 1rem;
  padding: 2rem;

  flex-wrap: wrap;
  width: fit-content;

  .subContainer {
    flex: 1 1;
    min-width: 25rem;

    h4 {
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    .genresHeading {
      margin-bottom: 0.5rem;
    }
    
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.icon {
  height: 3rem;
  width: 3rem;
  fill: $c-grey-l-3;
  margin-right: 1rem;
}

.platform {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &Id {
    font-weight: 400;
    letter-spacing: .05rem;
  }
}


.gamerData {
  background-color: $c-white;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
  border-radius: 1rem;
  padding: 2rem;

  line-height: 1.4;
  text-align: justify;

  &Heading {
    margin-bottom: 1rem;
  }

  span {
    display: inline-block;
    color: $c-primary;
    letter-spacing: 0.05rem;
  }
}

.twitch {
  
  .twitchPlayerContainer {
    padding-top: 56.25%;
    width: 100%;
    position: relative;
  }

  iframe {
    border: 2px solid $c-grey-l-1;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
  }
}

.genre {
  cursor: default;
  display: inline-block;
  border: 1px solid $c-primary;
  border-radius: 10rem;
  padding: .4rem .8rem;
  margin: .4rem .4rem 0 0;

  color: $c-primary;
}

.bio {
  letter-spacing: .1rem;
}

.editButton {
  position: absolute;
  right: 0;
  top: -.7rem;

  display: flex;
  justify-content: center;

  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 1px solid $c-primary;
  color: $c-primary;
  padding: .4rem .8rem;
  border-radius: .5rem;

  font-weight: 600;

  transition: all .2s;

  &:hover {
    background-color: $c-primary;
    color: $c-white;

    .editIcon {
      fill: $c-white;
    }
  }

  &:active {
    background-color: $c-primary-l;
  }
}

.editIcon {
  height: 1.5rem;
  width: 1.5rem;
  fill: $c-primary;
  margin-left: .4rem;
  transition: all .2s;
}

.noActivity {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  p {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.margin {
  margin-left: 2rem;
}