@use '../../../../sass/abstracts/members.scss' as *;

.searchForm {
  flex: 0 0 40%;

  display: flex;
  flex-direction: column;

  position: relative;

  background-color: $c-white-2;
  border-radius: 100px;

  &:focus-within {
    outline: none;
    background-color: $c-white-3;
  }
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
}

.input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: .7rem 2rem;
  width: 95%;
  
  transition: all .2s;
  // margin-right: -3.25rem;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    font-weight: 100;
    color: $c-grey-l-3;
  }

}

.icon {
  height: 2rem;
  width: 2rem;
  fill: $c-grey-d-1;
  margin: auto 1rem;
}

.resultBox {
  position: absolute;
  background-color: $c-white-1;
  top: 4rem;
  width: 100%;
}

.resultList {
  list-style-type: none;
  animation: showList .2s ease-in-out;
}

@keyframes showList {
  0% { opacity: 0; }
  100% { opacity: 1; }
}